<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet" />
    <link href="../../static/css/main.css" rel="stylesheet" />
    <script src="../../static/js/app.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="v321_109">
        <div class="v321_110"></div>
        <div class="v321_111"></div>
        <span class="v321_112">NIKA</span>
        <div class="v321_113"></div>
        <span class="v321_114">Начать</span>
        <div class="v321_115"></div>
        <div class="v321_116"></div>
        <span class="v321_121">FAQs</span>
    </div>
</body>
</html>