<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet" />
        <link href="../../static/css/registration.css" rel="stylesheet" />
        <title>NIKA - Регистрация</title>
    </head>
    <body>
        <div class="registration_page">
            <div class="registration_window">
                <span class="registration_header">Регистрация</span>
                <form class="registration_form" id="registration_form">
                    <input class="registration_input" name="name" placeholder="Имя" type="text" required>
                    <input class="registration_input" name="surename" placeholder="Фамилия" type="text" required>
                    <input class="registration_input" name="email" placeholder="Email" type="email" required>
                    <input class="registration_input" name="password" placeholder="Пароль" type="password" required>
                    <div class="registration_form_wrapper">
                        <label class="sex_check" id="female-label">
                            <input class="checkbox" value="female" type="checkbox" id="female-checkbox">
                            <span class="checkmark">Ж</span>
                        </label>
                        <label class="sex_check" id="male-label">
                            <input class="checkbox" value="male" type="checkbox" id="male-checkbox">
                            <span class="checkmark">М</span>
                        </label>
                        <input class="registration_input registration_input_sport" name="sport_type" placeholder="Вид спорта">
                    </div>
                    <input type="submit" hidden>
                </form>
                <a class="login_link" href="#">Войти</a>
                <a class="registration_faq_link" href="#">FAQs</a>
            </div>
        </div>
    </body>
    <script src="../../static/js/registration.js"></script>
</html>